
{% extends 'base.html.twig' %}

{% block title %}Hello AllQuotes!{% endblock %}

{% block body %}
    <div class="container-fluid" id="allServicesContainer">
        <div class="d-flex justify-content-end mt-3">
            <a  href="{{ path('add_quote') }}">
                <button style="margin-right: 20px" class="btn btn-success">Ajouter <i class="fas fa-plus-circle"></i></button>
            </a>
        </div>
        <table class="table mt-5 table-hover">
            <thead>
            <tr>
                <th scope="col">Date de création</th>
                <th scope="col">Status</th>
                <th scope="col">Nom client</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Montant</th>
                <th scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for quote in quotes %}
                <tr>
                    <th>{{quote.creationDate|date('d-m-Y')}}</th>
                    <td>{{ quote.status }}</td>
                    <td>{{ quote.client.lastname }}</td>
                    <td>{{ quote.client.company }}</td>
                    <td></td>
                    <td>
                        <a href=""><button type="button" class="btn btn-warning">editer</button></a>
                        <button type="button" data-url="" data-id="{{ quote.id }}" class="btn btn-danger delete"><i class="fas fa-trash"></i> suprimer</button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
