
{% extends 'base.html.twig' %}

{% block title %}Hello AllQuotes!{% endblock %}

{% block body %}
    <div class="container-fluid" id="allServicesContainer">
        <div class="d-flex justify-content-end mt-3">
            <a  href="{{ path('add_quote') }}">
                <button style="margin-right: 20px" class="btn btn-success">Ajouter <i class="fas fa-plus-circle"></i></button>
            </a>
        </div>
        <table class="table mt-5 table-hover">
            <thead>
            <tr>
                <th scope="col">Date de création</th>
                <th scope="col">status</th>
                <th scope="col">client</th>
                <th scope="col">Montant</th>
            </tr>
            </thead>
            <tbody>
            {% for quote in quotes %}
                {{ dump(quote.getClient) }}
{#                <tr>
                    <th>{{service.name}}</th>
                    <td>{{service.description|slice(0, 50) ~ ' ...'}}</td>
                    <td>{{service.velocity}}</td>
                    <td>{{service.price}} €</td>
                    <td>{{service.time}}</td>
                    <td>
                        <a href="{{ path("show_one_service",{id: service.id}) }}"><button type="button" class="btn btn-warning">editer</button></a>
                        <button type="button" data-url="{{path("delete_service_ajax") }}" data-id="{{ service.id }}" class="btn btn-danger delete"><i class="fas fa-trash"></i> suprimer</button>
                    </td>
                </tr>#}
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
