{% extends 'base.html.twig' %}
{% set clientAddresse = getClientAddresses(quote.client.id) %}

{% block title %}show quote{% endblock %}

{% block body %}
    <div class="container" id="container_create_quote">
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button" onclick="openCity('customer_data')"> <i class="fas fa-user"></i> Client</button>
            <button class="w3-bar-item w3-button" onclick="openCity('customer_addresse')"> <i class="fas fa-home"></i> Adresse</button>
            <button class="w3-bar-item w3-button" onclick="openCity('customer_quote')"><i class="fas fa-file-invoice"></i> Devis</button>

        </div>
        <div>
            <div class="alert alert-success" role="alert" style="display: none">
                Devis modifier avec succés !
            </div>
            <div class="alert alert-danger" role="alert" style="display: none">
                Une érreur c'est produite .
            </div>
        </div>
        <form id="form_create_quote" data-url="{{ path('create_service_ajax') }}">
            <div class="city" id="customer_data">
                <h3>Client: </h3>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group " >
                            <label for="client_id">id client :</label>
                            <input class="form-control" value="{{ quote.client.id }}" id="client_id" type="text" name="client_id" required>
                        </div>
                        <div class="form-group " hidden>
                            <label for="quote_id">QuoteId :</label>
                            <input class="form-control" value="{{ quote.id }}" id="quote_id" type="text" name="quote_id" required>
                        </div>
                        <div class="form-group ">
                            <label for="lastname">Nom :</label>
                            <input class="form-control" value="{{ quote.client.lastname }}" id="lastname" type="text" name="lastname" required>
                        </div>
                        <div class="form-group ">
                            <label for="company">Societé :</label>
                            <input class="form-control" value="{{ quote.client.company }}" id="company" type="text" name="company" required>
                        </div>
                        <div class="form-group ">
                            <label for="phone">telephone :</label>
                            <input class="form-control" value="{{ quote.client.phone }}" id="phone" type="text" name="phone" required>
                        </div>
                        <div class="form-group ">
                            <label for="language">Langue :</label>
                            {% if quote.client.language is same as "Français" %}
                            <select class="form-select" name="language" id="language">
                                <option value="French">Français</option>
                                <option value="English">Anglais</option>
                            </select>
                            {% else %}
                            <select class="form-select" name="language" id="language">
                                <option value="English">Anglais</option>
                                <option value="French">Français</option>
                            </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname">Prénom :</label>
                            <input class="form-control" value="{{ quote.client.firstname }}" id="firstname" type="text" name="firstname" required>
                        </div>
                        <div class="form-group ">
                            <label for="siret">siret :</label>
                            <input class="form-control" value="{{ quote.client.siret }}" id="siret" type="text" name="siret" required>
                        </div>
                        <div class="form-group ">
                            <label for="email">email :</label>
                            <input class="form-control" value="{{ quote.client.email }}" id="email" type="email" name="email" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="city" style="display: none" id="customer_addresse">
                <h3>Adresse: </h3>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="street">Rue :</label>
                            <input class="form-control" value="{{ clientAddresse.street }}"  id="street" type="text" name="street" required>
                        </div>
                        <div class="form-group ">
                            <label for="postale">Code postal :</label>
                            <input class="form-control"  value="{{ clientAddresse.postale }}"   id="postale" type="text" name="postale" required>
                        </div>
                        <div class="form-group ">
                            <label for="company">Société :</label>
                            <input class="form-control" value="{{ clientAddresse.company }}" id="company" type="text" name="company" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="city">Ville :</label>
                            <input class="form-control" id="city" value="{{ clientAddresse.city }}" type="text" name="city" required>
                        </div>
                        <div class="form-group ">
                            <label for="country">Pay :</label>
                            <input class="form-control" id="country" value="{{ clientAddresse.country }}" type="text" name="country" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="city" style="display: none" id="customer_quote">
                <h3>Devis: </h3>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="status">Status :</label>
                            <input class="form-control" value="{{ quote.status }}" id="status" type="text" name="status" required>
                        </div>
                        <div class="form-group">
                            <label for="discount">Réduction :</label>
                            <div class="d-flex align-items-center">
                                <input class="form-control mr-2"  min="0"  id="discount" type="number" value="{{ quote.discount }}" name="discount" required> <span><i style="color: #007bff" class="fas fa-percent"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label for="deposit">avance :</label>
                            <div class="d-flex align-items-center">
                                <input class="form-control mr-2"  value="{{ quote.deposit }}" value="0" id="deposit" type="number" name="deposit" required><span><i style="color: #007bff" class="fas fa-percent"></i></span>

                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="total">Total :</label>
                            <div class="d-flex align-items-center">
                                <input class="form-control mr-2" id="total_price" type="text" name="total_price" required><span><i  style="color: #007bff" class="fas fa-euro-sign"></i></span>
                            </div>
                        </div>
                    </div>


                    <div class="recipe container_table w-100">
                        <div class="recipe__ingredients w-100">
                            <table cellpadding="0" cellspacing="0" border="0" class="recipe-table" id="recipeTable" data-url="{{ path('get_all_data') }}">
                                <tbody id="recipeTableBody">
                                {% for service in quote.services %}
                                <tr>
                                    <td class="drag-handler"></td>
                                    <td class="recipe-table__cell">
                                        <input name="select_name" value="{{ service.name }}" type="text" class="recipe__text-field form-control velocity select_name_show"  placeholder="Nom du service">
                                    </td>
                                    <td class="recipe-table__cell">
                                        <textarea rows="1" name="description_service" type="text" class="recipe__text-field description"   placeholder="Description"> {{ service.description }}</textarea>
                                    </td>
                                    <td class="recipe-table__cell">
                                        <input name="velocity_service" value="{{ service.velocity }}" type="text" class="recipe__text-field form-control velocity"  placeholder="Vélocité (jours)">
                                    </td>
                                    <td class="recipe-table__cell">
                                        <input name="price" type="text" value="{{ service.price }}" class="recipe__text-field form-control price"  placeholder="Prix">
                                    </td>
                                    <td class="recipe-table__cell" >
                                        <input name="id_service"  type="text" class="recipe__text-field form-control id"  value="{{ service.id }}" placeholder="id" hidden >
                                    </td>
                                    <td class="recipe-table__cell">
                                        <button class="recipe-table__del-row-btn">x</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="recipe-table__add-row">
                                <span class="recipe-table__add-row-btn">+</span>
                            </div>
                        </div>
                    </div>

                    <script id="rowTemplate" type="text/template">
                        <tr>
                            <td class="drag-handler"></td>
                            <td class="recipe-table__cell">
                                <select style="height: 40px" name="select_name" class="select_name recipe__text-field" data-url="{{ path('get_service_ajax') }}">
                                    <option value="">--Merci de choisir un service--</option>
                                </select>
                            </td>
                            <td class="recipe-table__cell">
                                <textarea rows="1" name="description_service" type="text" class="recipe__text-field description "  placeholder="Description"></textarea>
                            </td>
                            <td class="recipe-table__cell">
                                <input name="velocity_service" type="text" class="recipe__text-field form-control velocity"  placeholder="Vélocité (jours)">
                            </td>
                            <td class="recipe-table__cell">
                                <input name="price" type="text" class="recipe__text-field form-control price"  placeholder="Prix">
                            </td>
                            <td class="recipe-table__cell">
                                <input name="id_service" type="text" class="recipe__text-field form-control id"  placeholder="id" hidden>
                            </td>
                            <td class="recipe-table__cell">
                                <button class="recipe-table__del-row-btn">x</button>
                            </td>
                        </tr>
                    </script>
                    <div class="d-flex justify-content-center mt-4 mx-auto">
                        <button type="button" data-url="{{ path('edit_quote_ajax') }}" id="edit_quote" class="btn btn-primary">Modifier</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <script>
        function openCity(cityName) {
            let i;
            let x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(cityName).style.display = "block";
        }
    </script>
{% endblock %}